body {
    background-color: var(--ivoire);
}

.deco__bar-up,
.deco__bar-down {
    width: 100%;
    display: block;
}

.deco__bar-down {
    transform: scale(1, -1);
}

.deco__hero {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 131px;
    padding-bottom: 60px;
    margin-left: 24px;
}

.deco__hero-right {
    transform: scale(-1, 1);
    margin-right: 48px;
}

.hero__visual {
    position: relative;
    z-index: -1;
}

.overlay {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, var(--beige) 0%, rgba(255, 255, 255, 0) 50%, var(--ivoire) 100%);
    pointer-events: none;
}

.hero__title {
    font-family: Gloock;
    font-size: var(--text-h1);
    color: var(--rouge-foncé);
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.hero__intro {
    font-family: Poppins;
    font-size: var(--text-text);
    color: var(--rouge-foncé);
    text-align: center;
    display: flex;
    justify-content: center;
    margin-inline: 24px;
}

.deco__section-2 {
    display: flex;
    justify-content: center;
    gap: 210px;
}

.deco__section-2-left, .deco__section-2-right {
    width: 40px;
}

.deco__section-2-right {
    transform: scale(-1, 1);
}

.deco__section-3 {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-inline: 24px;
}

.deco__section-3-right, .deco__section-3-right-down {
    transform: scale(-1, 1);
}

.deco__section-3-left-down {
    transform: scale(1, -1);
}

.deco__section-3-right-down {
    transform: scale(-1, -1);
}

.section {
    background-color: var(--rouge);
}

.title {
    font-family: Gloock;
    font-size: var(--text-h2);
    color: var(--ivoire);
    display: flex;
    justify-content: center;
    padding-top: 64px;
    padding-bottom: 28px;
}

.dates__text {
    font-family: Poppins;
    font-size: var(--text-bold-2xl);
    color: var(--ivoire);
    font-weight: 600;
    display: flex;
    justify-content: center;
    padding-bottom: 12px;
}

.cta {
    padding-top: 12px;
    padding-bottom: 24px;
    display: flex;
    justify-content: center;
    font-weight: 600;
}

.cta__arrow {
    width: 20px;
}

.cta__text {
    font-family: Poppins;
    font-size: var(--text-bold-2xl);
    color: var(--ivoire);
}

.title-2{
    font-family: Gloock;
    font-size: var(--text-h2);
    color: var(--rouge);
    display: flex;
    justify-content: center;
    padding-top: 64px;
}

.title-3{
    font-family: Gloock;
    font-size: var(--text-h2);
    color: var(--rouge-foncé);
    display: flex;
    justify-content: center;
    padding-top: 64px;
    padding-bottom: 28px;
}

.section-2 {
    background-color: var(--bleu);
}

.card-discover__img {
    width: 100%;
}

.card-discover {
    display: flex;
    flex-direction: column;
    padding: 24px;
}

.overlay__gradient {
    position: relative;
    overflow: hidden;
}

.overlay__gradient::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, transparent 0%, var(--rouge-foncé) 100%);
    pointer-events: none;
}

.card-discover__title {
    font-family: Gloock;
    font-size: var(--text-h3);
    text-decoration: underline 2px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: var(--ivoire);
    z-index: 1;
}

.partenaire {
    width: 100%;
    display: flex;
}

.partenaire__logo {
    scale: 50%;
    padding: 18px;
    border: 5px solid var(--rouge-foncé);
    border-radius: 20px;
}