body {
    background-color: var(--ivoire);
}

.deco__bar-up,
.deco__bar-down {
    width: 100%;
    display: block;
}

.deco__bar-down {
    transform: scale(1, -1);
}

.deco__hero {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 131px;
}

.deco__hero-right {
    transform: scale(-1, 1);
}

.hero__visual {
    position: relative;
    z-index: -1;
}

.overlay {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, var(--beige) 0%, rgba(255, 255, 255, 0) 50%, var(--ivoire) 100%);
    pointer-events: none;
}

.dates {
    background-color: var(--rouge);
}

.title {
    font-family: Gloock;
    font-size: var(--text-h2);
    color: var(--ivoire);
}

.title-2{
    font-family: Gloock;
    font-size: var(--text-h2);
    color: var(--rouge);
}

.title-3{
    font-family: Gloock;
    font-size: var(--text-h2);
    color: var(--rouge-foncé);
}

.discover {
    background-color: var(--bleu);
}

.card-discover__img {
    width: 100%;
}

.card-discover {
    display: flex;
    flex-direction: column;
    padding: 24px;
}

.overlay__gradient {
    position: relative;
    overflow: hidden;
}

.overlay__gradient::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, transparent 0%, var(--rouge-foncé) 100%);
    pointer-events: none;
}

.card-discover__title {
    font-family: Gloock;
    font-size: var(--text-h3);
    text-decoration: underline 2px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    z-index: 1;
}

