body {
    background-color: var(--ivoire);
}

.deco__bar-up,
.deco__bar-down {
    width: 100%;
    display: block;
}

.deco__bar-down {
    transform: scale(1, -1);
}

.deco__hero {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 131px;
}

.deco__hero-right {
    transform: scale(-1, 1);
}

.hero__visual {
    position: relative;
    z-index: -1;
}

.overlay {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, var(--beige) 0%, rgba(255, 255, 255, 0) 50%, var(--ivoire) 100%);
    pointer-events: none;
    z-index: 1;
}