body img {

    width: 100%;
}

.header {
    background: linear-gradient(var(--dark), var(--rouge-foncé));
    position: sticky;
    top: 0px;
    z-index: 10;
}

.header__container-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0 20px;
}

.header__container {
    position: relative;
}

.header__container-menu-btn {
    position: absolute;
    top: 65%;
    left: 10%;
    transform: translate(-50%, -50%);
}

.menu-btn {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
}

.menu {
    height: 100vh;
    transition: 1s;
    overflow: hidden;
}

.menu[hidden] {
    height: 0;
    display: flex;
}